USE [AgriculturePrediction_DB]
GO
/****** Object:  Table [dbo].[CropsDetails]    Script Date: 11/20/2018 12:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CropsDetails](
	[Fertile] [int] NULL,
	[Crops] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CropsDetails] ([Fertile], [Crops]) VALUES (0, N'Jowar(Sorghum)')
INSERT [dbo].[CropsDetails] ([Fertile], [Crops]) VALUES (0, N'Bajra(Pearl Millet)')
INSERT [dbo].[CropsDetails] ([Fertile], [Crops]) VALUES (0, N'French Beans(Farasbi)')
